/* DEFAULT FONT */
@font-face{
    font-family: "garet";
    src: url("../fonts/garet/Garet-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* TITLES FONT */
@font-face{
    font-family: "climateCrisis";
    src: url("../fonts/climateCrisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

/* PIXEL FONT */
@font-face{
    font-family: "pixel";
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: var(--color-background);
    font-family: "garet";
}

p{
    color: var(--color-text);
}

.textImportant{
    color: var(--color-textImportant);
    font-weight: bolder;
}