/* ESTILOS PADRÃO (MOBILE  0 - 480px) */

.App{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

/* tamanho de fonte padrão dos textos no mobile */
p{
    font-size: 4vw;
}


/* HEADER */
header{
    grid-area: "header";
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15dvh;
    width: 100vw;
}
header a{
    text-decoration: none;
    color: var(--color-text);
}
nav{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    padding: 10px;
}

/* botão para abrir o menu lateral */
.botaoFlip{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    perspective: 600px;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    background-color: var(--color-background);
    border: none;
}
.botaoFlip.aberto{
    transform: rotateY(180deg);
}
.front, .back{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
.front img, .back img{
    width: 80%;
    height: 80%;
}

/* itens do menu lateral */
nav ul{
    position: absolute;
    list-style: none;
    top: 15dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--color-background);
    z-index: 3;
    width: 100vw;
    height: 100dvh;
}
.itemMenu{
    width: 100vw;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    border-bottom: 1px #19191d solid;
}
.menu {
  transform:scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: all 0.4s ease-in-out

}
.menu.aberto {
  transform: scaleY(1);
  opacity: 1;
}

/* logo do portfolio */
.headerLogo{
    max-width: 45%;
    padding: 10px;
}
.headerLogo img{
    width: 100%;
    height: auto;
}


/* MAIN */
main{
    display: grid;
    grid-template-areas: 
        "hero"
        "sobremim"
        "projetos"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 50px;
}

/* hero da página */
.hero{
    display: grid;
    grid-template-areas: 
        "heroText"
        "heroImage"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-items: center;
}
.hero img{
    grid-area: heroImage;
    width: 200px;
}
.heroText{    
    grid-area: heroText;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.heroText h1{
    text-align: start;
    color: var(--color-textImportant);
    font-size: 1.5rem;
    line-height: 1.2;
    width: 100%;
    font-family: "climateCrisis";
}
.heroText p{
    text-align: start;
    line-height: 1.6;
    width: 100%;
    margin-top: 1rem;
    color: #e1daca;
}

.hero img{
    width: 70%;
}



/* Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px){

};

/* Notebooks e Desktops pequenos (769px - 1279px) */
@media (min-width: 769px) and (max-width: 1279){

};

/* Desktops (1280px +) */
@media (min-width: 1280){

};