/* ESTILOS PADRÃO (MOBILE  0 - 576px) */

/* Container do Hero */
.containerHero{
    display: grid;
    grid-template-areas:
        "text"
        "image"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    min-height: auto;
    padding: 5svh 5%;
    gap: 20px;

    & .containerImage{
        grid-area: image;
        width: 80%;

        & img{
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    }
}

.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;

    & h2{
        text-align: start;
        color: var(--color-textImportant);
        font-size: 1.3rem;
        line-height: 1.2;
        width: 100%;
        font-family: "climateCrisis";
        margin-top: 0;
    }

    & .quebraLinha{
        display: block;
    }

    & p{
        text-align: start;
        width: 100%;
        margin-top: 0.8rem;
        font-size: 1rem;
        color: var(--color-text);
    }
}

/* Celular em paisagem ( max-height: 500px ) */
@media (orientation: landscape) and (max-height: 500px){
    .containerHero {
        min-height: auto;
        grid-template-areas: "text image";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        padding: 20px 5%;

        & .text{
            width: 100%;
            align-items: flex-start;

            & h2{
                font-size: 1.2rem;
            }
            & p{
                font-size: 0.9rem;
            }
        }

        & .containerImage{
            width: 80%;
        }
    }
}


/* Pequenos Tablets e Celulares Maiores (500px - 767px) */
@media (min-width: 500px) and (max-width: 767px){
    .containerHero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0 5%;
        min-height: calc(100svh - 15svh);
    }

    .text{
        flex: 1;
        width: auto;
        align-items: flex-start;

        & h2{
            font-size: 1.2rem;
        }
        & p{
            font-size: 0.9rem;
        }
    }

    .containerHero .containerImage{
        flex: 0.7;
        width: auto;
    }
}


/* Tablet ( 768px - 991px )*/
@media (min-width: 768px){
    .containerHero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 5%;
        min-height: calc(100vh - 15svh);
    }

    .text{
        flex: 1;
        width: auto;
        align-items: flex-start;

        & .quebraLinha, h2{
            display: block;
        }
        & p, h2{
            margin-left: 0;
        }

        & h2{
            margin-top: 0;
        }
        & p{
            margin-top: 1rem;
        }
    }

    /* Ajuste do tamanho da imagem */
    .containerHero .containerImage{
        flex: 0.8;
        width: auto;
    }
}


/* Notebook e Tablet em paisagem ( 992px - 1199px )*/
@media (min-width: 992px){

    .containerHero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: calc(100svh - 15svh);
        gap: 40px;
        padding: 0 8%; 
    }

    .text{
        flex: 1;
        width: auto;
        padding: 0;
        align-items: flex-start;

        & h2{
            margin-top: 0;
            font-size: var(--font-size-h2);
        }
        & p{
            margin-top: 1rem;
            font-size: var(--font-size-p);
        }
    }

    .containerImage{
        flex: 0.8;
        width: auto;
        padding: 0;
    }


}


/* Desktops*/
@media (min-width: 1200px){
    .containerHero{
        gap: 60px;
        padding: 0 10%;
        max-width: 1400px;
        margin: 0 auto;
    }

    .text{
        flex: 1.2;

        & h2{
            font-size: 3rem;
        }
        & p{
            font-size: 1.8rem;
        }
    }

    .containerImage{
        flex: 0.7;
    }
}