/* ESTILOS PADRÃO (MOBILE  0 - 480px) */

/* Container do About */
.containerAbout{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Conteudo textual */
.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    padding: 1% 0;
    margin: 0 auto;

    & h2{
        color: var(--color-textImportant);
        font-family: "climateCrisis";
        font-size: var(--font-size-h2);
        line-height: 1.2;
        letter-spacing: 0.2rem;
        font-weight: 300;
    }

    & p{
        text-align: start;
        width: 100%;
        margin-top: 1rem;
        font-size: var(--font-size-p);
        color: var(--color-text);
        line-height: 1.5;
    }
}

/* Currículo */
.curriculum{
    width: 90%;
    max-width: 800px;
    margin: 10px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & button{   /* Botão para acessar o curriculo */
        padding: 15px 25px;
        border: 3px var(--color-background) solid;
        border-radius: 10px;
        cursor: pointer;
        font-family: "pixel";
        color: var(--color-background);
        background-color: var(--color-textImportant);
        position: relative;
    }

    & img{  /* Imagem da mão clicando no curriculo */
        rotate: -30deg;
        width: 60px;
        margin-left: -20px;
        margin-top: 15px;
        z-index: 3;
        cursor: pointer;
    }
}


/* Celular em paisagem ( max-height: 500px ) */
@media (orientation: landscape) and (max-height: 500px){
    
}


/* Tablet ( 768px - 991px )*/
@media (min-width: 768px){
    .content p{
        margin-top: 2rem;
    }

    .curriculum{
        & button{
            font-size: var(--font-size-p);
            text-align: center;
        }
        
        & img{
            width: 65px;
            margin-left: -25px;
        }
    }
}


/* Notebook e Tablet em paisagem ( 992px - 1199px )*/
@media (min-width: 992px){
    .curriculum{
        margin-top: 20px;
        padding-top: 0;
        
        & button {
            font-size: 1.2rem;
        }

        & img{
            width: 70px;
            margin-left: -25px;
        }
    }
}


/* Desktops */
@media (min-width: 1200px){
    .content p{
        margin-top: 2.5rem;
    }

    .curriculum{
        margin-top: 30px;
        
        & img{
             width: 80px;
             margin-left: -30px;
        }
    }
}