/* ESTILOS PADRÃO (MOBILE  0 - 480px) */

/* Container Contact */
.container{
    margin-top: 20svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    border-radius: 10px;
    padding: 4%;

    & h2{
        margin-bottom: 30px;
        color: var(--color-textImportant);
        font-family: "climateCrisis";
        font-size: var(--font-size-h2);
        line-height: 1.2;
        letter-spacing: 0.2rem;
        font-weight: 300;
    }
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & a{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & img{
        width: 15%;
        height: 15%;
    }
}
.contactItem p{
    font-size: var(--font-size-p);
}
.imageContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & img{
        width: 60%;
    }
}

/* ContactForm */
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #f6ddc8;
    margin-bottom: 10px;
}
.label{
    color: var(--color-text);
}
.button{
    margin-bottom: 25%;
    padding: 10px;
    width: 100%;
    border: 3px var(--color-background) solid;
    border-radius: 10px;
    cursor: pointer;
    font-family: "pixel";
    color: var(--color-background);
    background-color: var(--color-textImportant);
    font-size: 12px;
}

/* Celular em paisagem ( max-height: 500px ) */
@media (orientation: landscape) and (max-height: 500px){
    
}


/* Tablet ( 768px - 991px )*/
@media (min-width: 768px){

}


/* Notebook e Tablet em paisagem ( 992px - 1199px )*/
@media (min-width: 992px){

    .list img{
        width: 12%;
        height: 12%;
    }

    .content{
        padding-left: 18%;
        padding-bottom: 15%;
        gap: 30px;
    }

    .imageContainer{
        width: 50%;
    }
    
    .imageContainer img{
        width: 100%;
    }

    .container{
        flex-direction: row;
        align-items: end;
    }

}


/* Desktops */
@media (min-width: 1200px){
    
}