/* ESTILOS PADRÃO (MOBILE  0 - 576px) */

/* Container do Hero */
.containerHero{
    display: grid;
    grid-template-areas: 
        "text"
        "image"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    min-height: 85svh;

    & .containerImage{
        grid-area: image;
        width: 80%;

        & img{
            width: 100%;
        }
    }
}

.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; 

    & h2{
        text-align: start;
        color: var(--color-textImportant);
        font-size: var(--font-size-h2);
        line-height: 1.2;
        width: 100%;
        font-family: "climateCrisis";
        margin-top: 10%;
    }

    & .quebraLinha{
        display: block;
    }

    & p{
        text-align: start;
        width: 100%;
        margin-top: 1rem;
        font-size: var(--font-size-p);
        color: var(--color-text);
    }
}

/* Regra específica para dispositivos DEITADOS (landscape) */
@media (orientation: landscape) {
    .containerHero {
        min-height: 100svh;
        grid-template-areas: "text image";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        padding: 0 5%;
    }
}

/* Tablet ( 768px - 1279px )*/
@media (min-width: 768px){

    .text{  
        width: 80%;
        
        /* Titulo do hero sem quebra de linha */
        & .quebraLinha, h2{
            display: block;
            gap: 30px;
        }
        & p, h2{
            margin-left: 6rem;
        }
    }

    /* Ajuste do tamanho da imagem */
    .containerHero .containerImage{
        width: 70%;
    }
}

/* Desktops (1280px +) */
@media (min-width: 1280px){

}