/* ESTILOS PADRÃO (MOBILE  0 - 480px) */

/* Container do Hero */
.containerHero{
    display: grid;
    grid-template-areas: 
        "text"
        "image"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    min-height: 85svh;

    & img{
        grid-area: image;
        width: 80%;
    }
}

.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; 

    & h2{
        text-align: start;
        color: var(--color-textImportant);
        font-size: 1.5rem;
        line-height: 1.2;
        width: 100%;
        font-family: "climateCrisis";
        margin-top: 10%;
    }

    & p{
        text-align: start;
        width: 100%;
        margin-top: 1rem;
        font-size: 1.2rem;
        color: var(--color-text);
    }
}


/* Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px){

}

/* Notebooks e Desktops pequenos (769px - 1279px) */
@media (min-width: 769px) and (max-width: 1279px){

}

/* Desktops (1280px +) */
@media (min-width: 1280px){

}