/* ESTILOS PADRÃO (MOBILE  0 - 480px) */

/* Container do About */
.containerAbout{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Conteudo textual */
.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    border-radius: 10px;
    padding: 4%;

    & h2{
        color: var(--color-textImportant);
        font-family: "climateCrisis";
        font-size: var(--font-size-h2);
        line-height: 1.2;
        letter-spacing: 0.2rem;
        font-weight: 300;
    }

    & p{
        text-align: start;
        width: 100%;
        margin-top: 1rem;
        font-size: var(--font-size-p);
        color: var(--color-text);
    }
}

/* Currículo */
.curriculum{
    width: 70%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & button{   /* Botão para acessar o curriculo */
        padding: 20px;
        border: 3px var(--color-background) solid;
        border-radius: 10px;
        margin-left: 10px;
        cursor: pointer;
        font-family: "pixel";
        color: var(--color-background);
        background-color: var(--color-textImportant);
    }

    & img{  /* Imagem da mão clicando no curriculo */
        rotate: -30deg;
        width: 20%;
        margin-left: -30px;
        z-index: 3;
    }
}


/* Celular em paisagem ( max-height: 500px ) */
@media (orientation: landscape) and (max-height: 500px){
    
}


/* Tablet ( 768px - 991px )*/
@media (min-width: 768px){

    .content p{
        margin-top: 2rem;
    }

    .curriculum{
        padding: 3%;
        & button{
            font-size: var(--font-size-p);
            text-align: center;
        }
        
        & img{
            width: 17%;
            margin-left: -32px;
        }
    }

}


/* Notebook e Tablet em paisagem ( 992px - 1199px )*/
@media (min-width: 992px){
    
}


/* Desktops */
@media (min-width: 1200px){
    
}