/* ESTILOS PADRÃO (MOBILE  0 - 480px) */

/* Container do Header */
.containerHeader{
    grid-area: "header";
    background-color: var(--color-background);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15svh;
    width: 100%;

    & a{
        text-decoration: none;
        color: var(--color-text);
    }
}

/* Logo */
.logo{
    width: clamp(130px, 15vw, 300px);

    & img{
        width: 100%;
        height: auto;
        display: block;
    }
}

/* Container do Menu */
.containerMenu{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
}

/* Menu fixo em resoluções maiores */
.menuFixed{
    display: none;
}

/* Botão do Menu */
.botao{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    perspective: 600px;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    background-color: var(--color-background);
    border: none;
    outline: none;
}
.botaoAberto{
    transform: rotateY(180deg);
}
.front, .back{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    & img{
        width: 80%;
        height: 80%;   
    }
}
.back{
    transform: rotateY(180deg);
}

/* Conteudo do Menu */
.menu{
    transform:scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 15svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);
    z-index: 3;
    width: 100%;
    height: 85svh; 
}
.menuAberto{
    transform: scaleY(1);
    opacity: 1;
}

/* Itens do menu */
.containerItens{
    margin-top: 30px;
    margin-left: 20px;
    list-style: none;

    & p{    /* Cada item do menu */
        width: 100%;
        text-align: start;
        padding: 20px;
        font-size: 1.2rem;
        font-family: "climateCrisis";
        letter-spacing: 0.2rem;
        color: var(--color-text);
    }
}

/* Icones do menu */
.containerIcones{
    margin-bottom: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    gap: 10px;

    & img{
        width: 80%;
    }

    & li{
        width: 15%;
    }
}


/* Celular em paisagem ( max-height: 500px ) */
@media (orientation: landscape) and (max-height: 500px){

    .menu{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 30px;
    }

    .containerItens{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & p{
            padding: 10px;
            font-size: 1rem;
        }
    }
    
    .containerIcones{
        margin: 0;
        gap: 15px;

        & li{
            width: 10%;
        }
    }

}


/* Tablets ( 768px - 991px ) */
@media (min-width: 768px) {

    /* Menu e botão para mobile somem em resoluções maiores */
    .menu{
        display: none;
    }
    .botao{
        display: none;
    }
    
    .containerHeader{
        height: 80px;
        align-items: center;
        padding-top: 0;
    }

    .logo{
        width: 150px;
    }
    
    /* Container do Menu fixado */
    .containerMenu{
        justify-content: center;
        margin-bottom: 0;
    }

    /* Menu fixado no header */
    .menuFixed{
        display: flex;
        justify-content: center;
        width: 100%;
        list-style: none;
        gap: 5%;

        & p{
            text-align: start;
            font-family: "climateCrisis";
            font-size: clamp(1.1rem, 1.8vw, 1.4rem);
            transition: all ease-in-out 0.2s;
        }
        & p:hover{
            color: var(--color-textImportant);
        }
    }
}


/* Notebook e Tablet em paisagem ( 992px - 1199px )*/
@media (min-width: 992px){

    .containerHeader{
        height: 90px;
        min-height: 90px;
    }

    .menuFixed{
        gap: 7%;

        & p{
            font-size: clamp(1.2rem, 1.5vw, 1.5rem);
        }
    }
    
    .logo{
        width: 150px;
    }
    
}


/* Desktops */
@media (min-width: 1200px) {
    
    .containerHeader{
        padding: 0 5%;
        height: 100px;
    }

    .logo{
        width: 150px;
    }

    .menuFixed{
        gap: 10%;
    }

}
